* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0;
}

body {
  background-color: white;
  font-family: "monsterrat", sans-serif;
  margin: 0;
}
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
}
.color-blue {
  color: #00a2ff;
}

/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 13px;
}
.header__ul {
  display: flex;
}
.header__ul__li:not(:last-child) {
  padding-right: 30px;
  border-right: 1px solid #bdbdbd;
}
.header__ul__li:not(:first-child) {
  padding-left: 30px;
}
.button-left {
  border: none;
  background-color: white;
  color: white;
  outline: none;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-phone {
  margin-right: 14px;
}
.search {
  background: url(../img/Group\ 1223.svg);
  height: 848px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}
.search-block {
  padding-top: 113px;
  text-align: center;
  margin-bottom: 60px;
}
.search-block__1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.search-block__2 {
  margin: 0 auto;
  font-weight: 900;
  font-size: 55px;
  max-width: 710px;
}
.search-block__3 {
  font-weight: 900;
  font-size: 30px;
}
.search-forms {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 70px;
  /* opacity: 0.8; */
  background-color: rgba(255, 255, 255, 0.8);
}
.form {
  width: 340px;
  height: 60px;
}
.form-2 {
  width: 360px;
  height: 60px;
}
.forms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.search-forms__type {
  margin-bottom: 9px;
}
.search-forms__type__words {
  max-width: 354px;
}
.forms__button {
  padding: 20px 97px 20px 98px;
  background-color: #ff4a3f;
  border: none;
  border-radius: 20px;
}
.search-info {
  display: flex;
  background: url(../img/header-down.png);
  height: 629px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 134px;
  justify-content: space-between;
}

.info-left__blocks:not(:last-child) {
  margin-bottom: 155px;
}
.info-left__blocks:nth-child(2n + 1) {
  margin-left: 100px;
}

.info-center {
  display: flex;
  background: url(../img/Group\ 1226.png);
  height: 544px;
  max-width: 544px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.info-right {
  max-width: 580px;
  align-items: center;
  margin-top: 100px;
}
.info-right__header {
  margin-bottom: 40px;
}
.info-right__text:not(:last-child) {
  margin-bottom: 20px;
}
.tru {
  padding-bottom: 20px;
}
.outline-text {
  background-color: #0070af;
  height: 50px;
  text-align: center;
  padding-top: 14px;
  color: white;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

/* Service */

.service {
  background: url(../img/bubble.png);
  background-color: #e5e5e5;
}
.service-header {
  padding-top: 150px;
  margin-bottom: 80px;
  text-align: center;
}
.service-header {
  font-weight: 900;
  font-size: 40px;
  line-height: 48.76px;
}
.service-body {
  background-color: white;
  padding-top: 70px;
  padding-left: 100px;
}
.service-body:not(:last-child) {
  margin-bottom: 40px;
}
.service-body__header {
  color: #0070af;
  font-weight: 900;
  font-size: 30px;
  line-height: 36.57px;
}
.service-body__link {
  max-width: 1153px;
  margin-bottom: 70px;
}
.service-body__link__a:not(:last-child) {
  margin-right: 20px;
}
.service-body__link__a {
  color: #00a2ff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.service-body__info {
  display: flex;
  justify-content: space-between;
}
.service-body__info__text__a {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  max-width: 71%;
}
.service-body__info__price {
  font-weight: 900;
  font-size: 30px;
  line-height: 39px;
  color: #0d0d0d;
  margin-bottom: 20px;
}
.service-body__info__button {
  background-color: #ff4a3f;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 20px 90px;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}
.service-body__info__button1:hover {
  color: blue;
}

/* benefits */

.benefits {
  background-color: #e5e5e5;
  padding-top: 27px;
}
.benefits-header {
  text-align: center;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48.76px;
}
.benefits-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.benefits-info__tab {
  display: flex;
  background-color: white;
  padding: 25px 0;
  border-radius: 5px;
}
.benefits-info__tab__text {
  margin-left: 33px;
}
.benefits-info__tab__p {
  max-width: 87%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.benefits-info__tab__h3 {
  margin: 0 0 10px 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 21.94px;
}

/* info */

.info {
  background: url(/img/bubble-2.png);
  background-color: #e5e5e5;
  padding-top: 150px;
}
.info-body__img {
  max-width: 1600px;
}
.info-body__h2 {
  text-align: center;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48.76px;
}
.info-body__performance {
  display: flex;
}
.info-body__performance__2 {
  margin-top: 140px;
}
.info-body__performance__4 {
  margin-top: 167px;
}
.info-body__performance__img__1 {
  margin-top: 207px;
}
.info-body__performance__img__2 {
  margin-top: 140px;
}
.info-body__performance__img__3 {
  margin-top: 194px;
}
.info-body__performance__circle {
  position: relative;
}
.info-body__performance__circle__widget {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* modal form */

/* .modal {
  display: flex;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0070af;
  padding: 89px 78px 24px 120px;
} */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант  */
  background-color: rgba(0, 0, 0, 0.4); /*Черный с непрозрачностью */
}
.modal-body {
  display: flex;
  justify-content: center;
  padding-top: 89px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 73%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-content__h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48.76px;
  margin-bottom: 20px;
}
.modal-content {
  text-align: center;
}
.modal-content__p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}
.modal-button {
  position: absolute;
  margin-left: 90%;
  border: none;
  background-color: white;
  cursor: pointer;
}
.modal-img {
  margin-left: 46px;
}
.modal-content__form__input {
  border-radius: 5px;
  padding-bottom: 34px;
  border-color: #c4c4c4;
}
.modal-content__form {
  flex-direction: column;
  display: flex;
}
.modal-content__form__input:first-child {
  margin-bottom: 20px;
}
.modal-content__form__input:not(:first-child) {
  margin-bottom: 30px;
}
.modal-content__button {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ff4a3f;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.modal-content__form__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
}

/* answers */

.answers {
  background: url(/img/bubble-3.png);
  background-color: #e5e5e5;
  padding-top: 150px;
}
.answers-header {
  margin-bottom: 85px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 48.76px;
}
.answers-body {
  display: flex;
  justify-content: space-between;
}
.answers-left {
  max-width: 49.5%;
  width: 100%;
}
.answers-right {
  max-width: 49.5%;
  width: 100%;
}
.answers-left__button {
  max-width: 700px;
}
.answers-right__button {
  max-width: 700px;
}
.answers-left__blocks {
  display: grid;
}
.answers-left__blocks__button {
  width: 100%;
  display: flex;
  background-color: white;
  border-color: #0070af;
  align-items: center;
}
.answers-right__blocks__button {
  width: 100%;
  display: flex;
  background-color: white;
  border-color: #0070af;
  align-items: center;
}
.answers__blocks__h3 {
  color: #0070af;
}
.answers-right__blocks__svg {
  margin-left: auto;
}
.answers-left__blocks__svg {
  margin-left: auto;
}
.answers-left__blocks:not(:last-child) {
  margin-bottom: 20px;
}
.answers-right__blocks:not(:last-child) {
  margin-bottom: 20px;
}
